.modalOverlay {
  position: absolute;
  /* transform: translateX(28%); */
  display: flex;
  align-items: center;
  min-width: 118px;
  padding: 16px;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  background-color: var(--primery-color-white);
}

.userLogoModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.modalBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
  border: none;
  background-color: transparent;
}

.icon {
  stroke: #407bff;
  fill: none;
}
