.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  position: relative;
  background: #fff;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 32px;
  padding-bottom: 32px;
  min-width: 280px;
  max-height: 852px;
  border-radius: 10px;
  overflow-y: auto;
  position: fixed;
  max-height: 95vh;
  overflow-x: hidden;
}

.title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 24px;
  line-height: 1.23;
}

.closeButton {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  top: 36px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.closeIcon {
  stroke: #407bff;
  height: 24px;
  width: 24px;
}

.settingContainer {
  margin-bottom: 24px;
}

.avatarFallback {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #cccccc;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoLabelContainer {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  text-align: center;
  align-items: center;
}

.photoIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke: #407bff;
}

.photoLabel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.photoPreview {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.uploadButton {
  display: flex;
  align-items: center;
  width: 134px;
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #407bff;
}

.hiddenInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.genderLabel {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
}

.genderRadio {
  display: inline-block;
  padding-top: 12px;
  font-size: 16px;
  line-height: 1.25;
}

.genderSpan {
  padding-left: 8px;
  padding-right: 24px;
}

.nameLabel {
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.emailLabel {
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.passwordLabel {
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.fieldLabel {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 8px;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.iconButton {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  right: 12px;
  background: none;
  border: none;
  font-size: 18px;
  padding: 0;
}

.passwordIcon {
  width: 16px;
  height: 16px;
}

.saveBtn {
  border: none;
  border-radius: 10px;
  padding: 8px 30px;
  width: 256px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  align-items: center;
  color: #fff;
}

.saveBtn:hover,
.saveBtn:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.inputs {
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 256px;
  height: 44px;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
}

.inputs::placeholder {
  color: #9ebbff;
}

.inputs:focus,
.inputs:active {
  outline-color: #407bff;
}

.errorMessage {
  color: #ef5050;
  font-size: 14px;
  line-height: 1.28;
}

.inputs.error {
  border: 1px solid #ef5050;
  color: #ef5050;
}

@media screen and (min-width: 768px) {
  .modalContent {
    padding: 32px 24px;
    width: 704px;
    min-height: 860px;
  }

  .closeButton {
    top: 36px;
    right: 24px;
  }

  .inputWithIcon {
    width: 392px;
  }
  .inputs {
    width: 392px;
    height: 44px;
  }
  .saveBtn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px 30px;
    width: 160px;
    height: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .modalContent {
    width: 1008px;
    min-height: 592px;
  }
  .formContainer {
    display: flex;
    gap: 24px;
  }
  .containerForMargin {
    margin-bottom: 47px;
  }
  /* .saveBtn {
    margin-bottom: 32px;
  } */
}
