.header {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.authBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
}

.icon {
  fill: white;
  border-radius: 30px;
  padding: 2px;
  stroke: #2f2f2f;
}

/* @media (min-width: 768px) {
  .header {
  }
  .logoContainer {
  }

  .authBtn {
  }

  .icon {
  }
}
@media (min-width: 1440px) {
  .header {
  }
  .logoContainer {
  }
  .authBtn {
  }

  .icon {
  }
} */
